<p style="background:#E5E5E5;">
    <b style="color: black">EDUCATION</b>
</p>
<table >
    <tbody>
    <tr>
        <td>
            Degree
        </td>
        <td>
            : Bachelor of Management (2013)
        </td>
    </tr>
    <tr>
        <td>
            Education Institution
        </td>
        <td>
            : Russian Institute Of Management
        </td>
    </tr>
    <tr>
        <td>
            Faculty
        </td>
        <td>
            : Management
        </td>
    </tr>
    <tr>
        <td>
            Specialization
        </td>
        <td>
            : Manager
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
        </td>
    </tr>
    </tbody>
</table>

<p>
    PERSONAL REPOSITORY:
<a href="https://github.com/gsaukov/" style="color: #fff;">https://github.com/gsaukov/</a>
</p>

<p>
    COURSES:
</p>

<table>
    <tbody>
    <tr>
        <td>
            MEAN. Mongo, Express, Angular, Node. FullStack
        </td>
        <td>
            Udemy
        </td>
        <td>
            – 2020
        </td>
    </tr>
    <tr>
        <td>
            Spring Batch - Best of it
        </td>
        <td>
            Wirecard
        </td>
        <td>
            - 2018
        </td>
    </tr>
    <tr>
        <td>
            Spring Core training and Workshop
        </td>
        <td>
            Patrick Baumgartner
        </td>
        <td>
            – 2017
        </td>
    </tr>
    <tr>
        <td>
            Java interactions with database (JDBC)
        </td>
        <td>
            Luxoft
        </td>
        <td>
            - 2015
        </td>
    </tr>
    <tr>
        <td>
            Java web services
        </td>
        <td>
            Luxoft
        </td>
        <td>
            – 2014
        </td>
    </tr>
    <tr>
        <td>
            Oracle SQL performance tuning
        </td>
        <td>
            Luxoft
        </td>
        <td>
            – 2014
        </td>
    </tr>
    <tr>
        <td>
            Algorithms: Design and Analysis part 1/2
        </td>
        <td>
            Coursera
        </td>
        <td>
            – 2013
        </td>
    </tr>
    <tr>
        <td>
            Test design practice
        </td>
        <td>
            Luxoft
        </td>
        <td>
            – 2011
        </td>
    </tr>
    <tr>
        <td>
            Expert Automation testing of User Interface
        </td>
        <td>
            Luxoft
        </td>
        <td>
            – 2010
        </td>
    </tr>
    <tr>
        <td>
            Rational Robot for experienced users
        </td>
        <td>
            Luxoft
        </td>
        <td>
            – 2010
        </td>
    </tr>
    <tr>
        <td>
            LoadRunner for experienced users
        </td>
        <td>
            Luxoft
        </td>
        <td>
            – 2009
        </td>
    </tr>
    <tr>
        <td>
            Programming on C# baseline course
        </td>
        <td>
            Specialist.ru
        </td>
        <td>
            – 2009
        </td>
    </tr>
    <tr>
        <td>
            Software people
        </td>
        <td>
            --
        </td>
        <td>
            – 2009
        </td>
    </tr>
    <tr>
        <td>
            Managing Death March projects
        </td>
        <td>
            Edward Yourdon
        </td>
        <td>
            – 2008
        </td>
    </tr>
    </tbody>
</table>



