<p style="background:#E5E5E5;">
    <b style="color: black">EMPLOYMENT</b>
</p>

<table >
    <tbody>
        <tr>
            <td class="header-column">
                Dates of employment
            </td>
            <td>
                :
            </td>
            <td>
                March 2016 – Present Time
            </td>
        </tr>
        <tr>
            <td class="header-column">
                Job title
            </td>
            <td>
                :
            </td>
            <td>
                Senior Software Engineer
            </td>
        </tr>
        <tr>
            <td class="header-column">
                Company
            </td>
            <td>
                :
            </td>
            <td>
                “WIRECARD”, Germany Munich
            </td>
        </tr>
        <tr>
            <td class="header-column">
                Job Responsibilities
            </td>
            <td>
                :
            </td>
            <td>
                Wirecard core systems development and maintenance. Business logic, REST and JMS interface provision, integration with inhouse and 3rd party systems. Data analysis, migrations, distributed complex tasks and Batchjobs creation.
            </td>
        </tr>
        <tr>
            <td class="header-column">
                Technology stack
            </td>
            <td>
                :
            </td>
            <td>
                Java Core, Spring (Container, MVC, Boot, JPA, Transactions, Batch Jobs), Hibernate, JMS, Wiremock, XML, SQL, Maven/Gradle, Git, JIRA.
            </td>
        </tr>
    </tbody>
</table>
<p>--------------------------------------------------------------------------------------</p>
<table >
    <tbody>
        <tr>
            <td class="header-column">
                Dates of employment
            </td>
            <td>
                :
            </td>
            <td>
                April 2015 – March 2016
            </td>
        </tr>
        <tr>
            <td class="header-column">
                Job title
            </td>
            <td>
                :
            </td>
            <td>
                Quality Engineer
            </td>
        </tr>
        <tr>
            <td class="header-column">
                Company
            </td>
            <td>
                :
            </td>
            <td>
                “WIRECARD”, Germany Munich
            </td>
        </tr>
        <tr>
            <td class="header-column">
                Job Responsibilities
            </td>
            <td>
                :
            </td>
            <td>
                Custom test application development. Solution was intended to mock external systems and cover the gaps with REST services between components during Wirecard’s core system decoupling.
            </td>
        </tr>
        <tr>
            <td class="header-column">
                Technology stack
            </td>
            <td>
                :
            </td>
            <td>
                Java Core, Spring(Container, MVC), TestNG, Wiremock, XML, JAXB, SQL, Maven, Mercurial, JIRA.
            </td>
        </tr>
    </tbody>
</table>
<p>--------------------------------------------------------------------------------------</p>
<table >
    <tbody>
    <tr>
        <td class="header-column">
            Dates of employment
        </td>
        <td>
            :
        </td>
        <td>
            May 2013 – April 2015
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Job title
        </td>
        <td>
            :
        </td>
        <td>
            Senior Java Developer
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Company
        </td>
        <td>
            :
        </td>
        <td>
            “Luxoft”, Russia Moscow (Deutsche Bank development center)
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Job Responsibilities
        </td>
        <td>
            :
        </td>
        <td>
            Software components development. Components are intended to:<br>
            <ul>
                <li>listen JMS queues for incoming messages (OTC trades) in FIX like and OpenLinkV12 XML format.</li>
                <li>parse, enrich, validate and transform this messages into FPML format, store them in DataBase.</li>
                <li>produce FPML messages to JMS topic for downstream systems (OTC reporting to regulators, clearing and etc).</li>
                <li>provide RESTFul services.</li>
            </ul>
            Wide communication with different parties involved into product creation, SL3 support.
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Technology stack
        </td>
        <td>
            :
        </td>
        <td>
            Java Core, NIO, Concurrency, Spring Framework, Hibernate, JMS, JDBC, Apache camel, Apache CXF, J2XB, JBoss Drools, XML, SQL, Maven, SVN, JIRA.
        </td>
    </tr>
    </tbody>
</table>
<p>--------------------------------------------------------------------------------------</p>
<table >
    <tbody>
    <tr>
        <td class="header-column">
            Dates of employment
        </td>
        <td>
            :
        </td>
        <td>
            June 2012 – May 2013
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Job title
        </td>
        <td>
            :
        </td>
        <td>
            Lead Software Test Specialist
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Company
        </td>
        <td>
            :
        </td>
        <td>
            “Luxoft”, Russia Moscow (Boeing development center)
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Job Responsibilities
        </td>
        <td>
            :
        </td>
        <td>
            Main responsibility on this role, was to invent and implement test automation solution in areas where common tools and approaches does not work.<br>
            Some main tasks:<br>
            -Communication with managers, developers, testers and analysts.<br>
            -System and project analysis, requirements gathering, identification of needs, goal-setting.<br>
            -Concepts creation and their proof.<br>
            -Concept approval (involving project team into selection).<br>
            -Frameworks, test tools, tests development on approved concept basis.<br>
            -Solution deployment, documentation and examples creation.<br>
            -Knowledge transfer to Automation engineers
        </td>
    </tr>
    </tbody>
</table>
<p>--------------------------------------------------------------------------------------</p>
