<p style="background:#E5E5E5;">
    <b style="color: black">EMPLOYMENT</b>
</p>

<table >
    <tbody>
    <tr>
        <td class="header-column">
            Dates of employment
        </td>
        <td>
            :
        </td>
        <td>
            October 2020 – Present Time
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Job title
        </td>
        <td>
            :
        </td>
        <td>
            Full-Stack software Engineer
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Company
        </td>
        <td>
            :
        </td>
        <td>
            “Accenture”, Germany Munich
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Job Responsibilities
        </td>
        <td>
            :
        </td>
        <td>
            Consultancy and Software development.
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Technology stack
        </td>
        <td>
            :
        </td>
        <td>
            Java, Angular, AWS, Kubernetes.
        </td>
    </tr>
    </tbody>
</table>
<p>--------------------------------------------------------------------------------------</p>
<table >
    <tbody>
        <tr>
            <td class="header-column">
                Dates of employment
            </td>
            <td>
                :
            </td>
            <td>
                March 2016 – October 2020
            </td>
        </tr>
        <tr>
            <td class="header-column">
                Job title
            </td>
            <td>
                :
            </td>
            <td>
                Senior Software Engineer
            </td>
        </tr>
        <tr>
            <td class="header-column">
                Company
            </td>
            <td>
                :
            </td>
            <td>
                “WIRECARD”, Germany Munich
            </td>
        </tr>
        <tr>
            <td class="header-column">
                Job Responsibilities
            </td>
            <td>
                :
            </td>
            <td>
                Wirecard core systems development and maintenance. Business logic, REST and JMS interface provision, integration with inhouse and 3rd party systems. Data analysis, migrations, distributed complex tasks and Batchjobs creation.
            </td>
        </tr>
        <tr>
            <td class="header-column">
                Technology stack
            </td>
            <td>
                :
            </td>
            <td>
                Java Core, Spring (Container, MVC, Boot, JPA, Transactions, Batch Jobs), Hibernate, JMS, Wiremock, XML, SQL, Maven/Gradle, Git, JIRA.
            </td>
        </tr>
    </tbody>
</table>
<p>--------------------------------------------------------------------------------------</p>
<table >
    <tbody>
        <tr>
            <td class="header-column">
                Dates of employment
            </td>
            <td>
                :
            </td>
            <td>
                April 2015 – March 2016
            </td>
        </tr>
        <tr>
            <td class="header-column">
                Job title
            </td>
            <td>
                :
            </td>
            <td>
                Quality Engineer
            </td>
        </tr>
        <tr>
            <td class="header-column">
                Company
            </td>
            <td>
                :
            </td>
            <td>
                “WIRECARD”, Germany Munich
            </td>
        </tr>
        <tr>
            <td class="header-column">
                Job Responsibilities
            </td>
            <td>
                :
            </td>
            <td>
                Custom test application development. Solution was intended to mock external systems and cover the gaps with REST services between components during Wirecard’s core system decoupling.
            </td>
        </tr>
        <tr>
            <td class="header-column">
                Technology stack
            </td>
            <td>
                :
            </td>
            <td>
                Java Core, Spring(Container, MVC), TestNG, Wiremock, XML, JAXB, SQL, Maven, Mercurial, JIRA.
            </td>
        </tr>
    </tbody>
</table>
<p>--------------------------------------------------------------------------------------</p>
<table >
    <tbody>
    <tr>
        <td class="header-column">
            Dates of employment
        </td>
        <td>
            :
        </td>
        <td>
            May 2013 – April 2015
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Job title
        </td>
        <td>
            :
        </td>
        <td>
            Senior Java Developer
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Company
        </td>
        <td>
            :
        </td>
        <td>
            “Luxoft”, Russia Moscow (Deutsche Bank development center)
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Job Responsibilities
        </td>
        <td>
            :
        </td>
        <td>
            Software components development. Components are intended to:<br>
            - listen JMS queues for incoming messages (OTC trades) in FIX like and OpenLinkV12 XML format.<br>
            - parse, enrich, validate and transform this messages into FPML format, store them in DataBase.<br>
            - produce FPML messages to JMS topic for downstream systems (OTC reporting to regulators, clearing and etc).<br>
            - provide RESTFul services.<br>
            Wide communication with different parties involved into product creation, SL3 support.
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Technology stack
        </td>
        <td>
            :
        </td>
        <td>
            Java Core, NIO, Concurrency, Spring Framework, Hibernate, JMS, JDBC, Apache camel, Apache CXF, J2XB, JBoss Drools, XML, SQL, Maven, SVN, JIRA.
        </td>
    </tr>
    </tbody>
</table>
<p>--------------------------------------------------------------------------------------</p>
<table >
    <tbody>
    <tr>
        <td class="header-column">
            Dates of employment
        </td>
        <td>
            :
        </td>
        <td>
            June 2012 – May 2013
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Job title
        </td>
        <td>
            :
        </td>
        <td>
            Lead Software Test Specialist
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Company
        </td>
        <td>
            :
        </td>
        <td>
            “Luxoft”, Russia Moscow (Boeing development center)
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Job Responsibilities
        </td>
        <td>
            :
        </td>
        <td>
            Main responsibility on this role, was to invent and implement test automation solution in areas where common tools and approaches does not work.<br>
            Some main tasks:<br>
            -Communication with managers, developers, testers and analysts.<br>
            -System and project analysis, requirements gathering, identification of needs, goal-setting.<br>
            -Concepts creation and their proof.<br>
            -Concept approval (involving project team into selection).<br>
            -Frameworks, test tools, tests development on approved concept basis.<br>
            -Solution deployment, documentation and examples creation.<br>
            -Knowledge transfer to Automation engineers
        </td>
    </tr>
    </tbody>
</table>
<p>--------------------------------------------------------------------------------------</p>
<table>
    <tbody>
    <tr>
        <td class="header-column">
            Dates of employment
        </td>
        <td>
            :
        </td>
        <td>
            August 2011 – June 2012
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Job title
        </td>
        <td>
            :
        </td>
        <td>
            Senior QA Engineer
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Company
        </td>
        <td>
            :
        </td>
        <td>
            “Luxoft”, Russia Moscow (Deutsche Bank development center)
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Job Responsibilities
        </td>
        <td>
            :
        </td>
        <td>
            - Manual and automatic testing of the server side trading platform of the Deutsche Bank. FIX/SpeedWay/FRAPI protocols using GreenHat tester, Verifix.<br>
            - FIX to Speedway Adapter development (Java) <br>
            – Developed FIX-Speedway gateway that is intended to transmit FIX messages into Speedway format and backwards (QuickFix API, Java core).
        </td>
    </tr>
    </tbody>
</table>
<p>--------------------------------------------------------------------------------------</p>
<table>
    <tbody>
    <tr>
        <td class="header-column">
            Dates of employment
        </td>
        <td>
            :
        </td>
        <td>
            July 2009 – August 2011
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Job title
        </td>
        <td>
            :
        </td>
        <td>
            Senior QA Engineer
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Company
        </td>
        <td>
            :
        </td>
        <td>
            “Luxoft”, Russia Moscow (dedicated center#16)
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Job Responsibilities
        </td>
        <td>
            :
        </td>
        <td>
            - Group management from 1 to 3 testers<br>
            - Testing organization of the new Web application<br>
            - Responsibility for the quality of the final product (Banking sector)<br>
            - Testing cycle improvement<br>
            - Communication with customers, (Emails, Phone calls)<br>
            - Planning and control of the testing iterations<br>
            - Automatic Load testing (HP Loadrunner)<br>
            - Automatic Functional testing (Mercury QTP)<br>
        </td>
    </tr>
    </tbody>
</table>
<p>--------------------------------------------------------------------------------------</p>
<table>
    <tbody>
    <tr>
        <td class="header-column">
            Dates of employment
        </td>
        <td>
            :
        </td>
        <td>
            November 2007 - July 2009
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Job title
        </td>
        <td>
            :
        </td>
        <td>
            Lead QA Engineer
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Company
        </td>
        <td>
            :
        </td>
        <td>
            “IT-online”, Russia Moscow
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Job Responsibilities
        </td>
        <td>
            :
        </td>
        <td>
            - Group management from 2 to 3 testers<br>
            - Optimization and implementation of testing process of the WEB applications.<br>
            - Test plan creation<br>
            - Bug severity estimation<br>
            - Preparation and debugging of the test environments<br>
            - Roll out testing on the LIVE platforms.<br>
            - General testing analysis based on the data from LIVE platforms.<br>
            - Acceptance testing<br>
            - Automatic \functional\stress\soak\peak-rest scenarios creation(Loadrunner)<br>
            - Automatic script creation (Mercury QTP)<br>
        </td>
    </tr>
    </tbody>
</table>
<p>--------------------------------------------------------------------------------------</p>
<table>
    <tbody>
    <tr>
        <td class="header-column">
            Dates of employment
        </td>
        <td>
            :
        </td>
        <td>
            February 2006 - November 2007 (Full Time) November 2007 - January 2009 (Part time)
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Job title
        </td>
        <td>
            :
        </td>
        <td>
             QA Engineer
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Company
        </td>
        <td>
            :
        </td>
        <td>
            “Allied Testing”, Russia Moscow
        </td>
    </tr>
    <tr>
        <td class="header-column">
            Job Responsibilities
        </td>
        <td>
            :
        </td>
        <td>
            - Testing of the complex brokerage trading systems from Charles Schwab and Cyber Trader.<br>
            - Functional and regression scripts creation and execution.<br>
            - Utilization of automation test tools (Test Harness - Back End Testing  System).<br>
            - Analysis of functional, performance, usability requirements and further validation of these requirements in the product.<br>
        </td>
    </tr>
    </tbody>
</table>
<p>--------------------------------------------------------------------------------------</p>
