<p style="background:#E5E5E5;">
    <b style="color: black">PERSONAL INFORMATION</b>
</p>
<table >
    <tbody>
        <tr>
            <td>
                Name
            </td>
            <td>
                : Georgy Saukov
            </td>
        </tr>
        <tr>
            <td>
                Area
            </td>
            <td>
                : Germany, Munich
            </td>
        </tr>
        <tr>
            <td>
                Gender
            </td>
            <td>
                : Male
            </td>
        </tr>
        <tr>
            <td>
                Age
            </td>
            <td>
                : 36
            </td>
        </tr>
        <tr>
            <td>
                Languages
            </td>
            <td>
                : English fluent; German B1; Russian native.
            </td>
        </tr>
        <tr>
            <td>
                Contacts
            </td>
            <td>
                : gsaukov@yahoo.com +4915734032215.
            </td>
        </tr>
    </tbody>
</table>
