<div>
    <ng-container
            *ngIf="desktop; then desktopTemplate; else mobileTemplate">
    </ng-container>
    <ng-template #mobileTemplate>
        <div>GSKV CLI v 0003.8411 for Mobile {{deviceType}}</div>
    </ng-template>
    <ng-template #desktopTemplate>
        <div>GSKV CLI v 0003.8411</div>
    </ng-template>
    <div>Run 'help' for available commands. Use 'Ctrl +' 'Ctrl -' to adjust scale</div>

    <router-outlet></router-outlet>
    <div>
        <div #console class="well" *ngFor="let message of wellData">
            <div>{{message}}</div>
        </div>
    </div>

    <input #input type="text" (keyup)="handleInputSize($event)"/>
    <div #cmd class="cmd">
        <span #span>{{inputValue}}</span>

        <div #cursor class="cursor"></div>

    </div>
</div>

