<div *ngIf="isUnknownCommand">Unknown command available are:</div>
<table >
    <tbody>
    <tr>
        <td>
            - info
        </td>
        <td>
            :
        </td>
        <td>
            Personal and contact information
        </td>
    </tr>
    <tr>
        <td>
            - overview
        </td>
        <td>
            :
        </td>
        <td>
            Core competencies & summary of exposure
        </td>
    </tr>
    <tr>
        <td>
            - education
        </td>
        <td>
            :
        </td>
        <td>
            Degree and courses
        </td>
    </tr>
    <tr>
        <td>
            - employment
        </td>
        <td>
            :
        </td>
        <td>
            Employment history and job experience.
        </td>
    </tr>
    <tr>
        <td>
            - download
        </td>
        <td>
            :
        </td>
        <td>
            Download CV as PDF.
        </td>
    </tr>
    </tbody>
</table>
