//https://stackoverflow.com/questions/3758023/how-to-use-this-square-cursor-in-a-html-input-field/3758063#3758063
//https://www.bypeople.com/css-lcd-text-effect/

@font-face {
  font-family: 'FixedsysExcelsior301Regular';
  src: url('./fonts/fsex300-webfont.eot');
  src: url('./fonts/fsex300-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/fsex300-webfont.woff') format('woff'),
  url('./fonts/fsex300-webfont.ttf') format('truetype'),
  url('./fonts/fsex300-webfont.svg#FixedsysExcelsior301Regular') format('svg');
  font-weight: 100;
  font-style: normal;
  font-smooth:never;
}

.cmd {
    overflow: hidden;
}

.cmd span {
    float: left;
    padding-left: 3px;
    white-space: pre;
}

input {
    width: 0;
    height: 0;
    opacity: 0;
}


